{% extends "dashboard_header.html" %}

{% block main %}

<h1>{{ name }} v{{ version }} - Dashboard (Change password)</h1>
<h2>Welcome, <strong>{{ username }}</strong>!</h2>
<h3>Here you can change your password</h3>
{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('change_password') }}" method=post>
    <dl>
        {{ render_field(form.old_password) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
    </dl>
    <p><input type=submit value="Change password"></p>
</form>

{% endblock %}